@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../fonts/Fontfabric-MullerBold.eot");
  src: url("../fonts/Fontfabric-MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Fontfabric-MullerBold.woff2") format("woff2"), url("../fonts/Fontfabric-MullerBold.woff") format("woff"), url("../fonts/Fontfabric-MullerBold.ttf") format("truetype"), url("../fonts/Fontfabric-MullerBold.svg") format("svg");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src: url("../fonts/Fontfabric-MullerExtraBold.eot");
  src: url("../fonts/Fontfabric-MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Fontfabric-MullerExtraBold.woff2") format("woff2"), url("../fonts/Fontfabric-MullerExtraBold.woff") format("woff"), url("../fonts/Fontfabric-MullerExtraBold.ttf") format("truetype"), url("../fonts/Fontfabric-MullerExtraBold.svg") format("svg");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("../fonts/Fontfabric-MullerLight.eot");
  src: url("../fonts/Fontfabric-MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Fontfabric-MullerLight.woff2") format("woff2"), url("../fonts/Fontfabric-MullerLight.woff") format("woff"), url("../fonts/Fontfabric-MullerLight.ttf") format("truetype"), url("../fonts/Fontfabric-MullerLight.svg") format("svg");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("../fonts/Fontfabric-MullerMedium.eot");
  src: url("../fonts/Fontfabric-MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Fontfabric-MullerMedium.woff2") format("woff2"), url("../fonts/Fontfabric-MullerMedium.woff") format("woff"), url("../fonts/Fontfabric-MullerMedium.ttf") format("truetype"), url("../fonts/Fontfabric-MullerMedium.svg") format("svg");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/Fontfabric-MullerRegular.eot");
  src: url("../fonts/Fontfabric-MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Fontfabric-MullerRegular.woff2") format("woff2"), url("../fonts/Fontfabric-MullerRegular.woff") format("woff"), url("../fonts/Fontfabric-MullerRegular.ttf") format("truetype"), url("../fonts/Fontfabric-MullerRegular.svg") format("svg");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muller',sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
  color: #262b30;
  margin: 0 0 45px;
}

.title-contrast {
  color: #ffc80a;
}

.section-alt-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #262b30;
  margin: 0 0 30px;
}

.section-alt-subtitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #262b30;
  margin: 0 0 5px;
}

.section-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #566886;
  margin: 0 0 20px;
}

.section-btns {
  text-align: center;
}

.section-btn {
  display: inline-block;
  border: 2px solid #e3e8ee;
  border-radius: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #272f40;
  text-decoration: none;
  padding: 17px 38px;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.section-btn:hover {
  background-color: #272f40;
  color: #fff;
  border-color: transparent;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0s;
  transition: background-color 0.2s, color 0.2s, border-color 0s;
}

.main-header {
  background-color: #262b30;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrapper {
  font-size: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
}

.vertical-line {
  display: block;
  width: 2px;
  height: 50px;
  background-color: rgba(161, 176, 193, 0.15);
}

.logo-svg-path {
  fill: #ffc80a;
}

.logo-text-part {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #a1b0c1;
}

.header-contacts {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone, .email {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 25px;
  font-size: 0;
  text-decoration: none;
}

.phone-svg, .email-svg {
  position: absolute;
  left: 0;
}

.phone-svg-path, .email-svg-path {
  fill: #ffc80a;
}

.phone-text-part, .email-text-part {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #a1b0c1;
}

.phone-part {
  color: #fff;
  font-size: 18px;
}

.email {
  margin-left: 25px;
}

.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-btns .header-btn:nth-of-type(n+2) {
  margin-left: 20px;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  background: none;
  border: 2px solid rgba(161, 176, 193, 0.15);
  border-radius: 10px;
  height: 50px;
  padding: 0 30px;
  font: 500 14px/16px 'Muller',sans-serif;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.header-btn__svg {
  margin-right: 10px;
}

.header-btn__svg-path {
  fill: #ffc80a;
}

.header-btn:hover {
  background-color: #ffc80a;
  border-color: transparent;
  color: #262b30;
}

.header-btn:hover .header-btn__svg-path {
  fill: #262b30;
}

.basket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.basket__svg {
  -webkit-transform: translate(-13px, 0);
  transform: translate(-13px, 0);
}

.basket__svg-path {
  fill: #fff;
}

.basket::after {
  content: attr(data-count);
  position: absolute;
  right: 0;
  font: 700 14px/16px 'Muller',sans-serif;
  color: #262b30;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: #ffc80a;
  border-radius: 50%;
}

.bottom-header {
  background-color: #f4f5f8;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation {
  font-size: 0;
}

.navigation__drop-down {
  margin-right: 60px;
  display: inline-block;
  position: relative;
  z-index: 5;
}

.navigation__drop-down-btn {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0 20px 0 0;
  font: 500 16px/18px 'Muller',sans-serif;
  color: #566886;
}

.navigation__drop-down-btn::after {
  content: '';
  position: absolute;
  right: 2px;
  top: 3px;
  width: 7px;
  height: 7px;
  border: 1px solid #566886;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation__drop-down-btn.opened::after {
  -webkit-transform: rotate(45deg) rotateX(180deg) translate(3px, -3px);
  transform: rotate(45deg) rotateX(180deg) translate(3px, -3px);
}

.navigation__drop-down-list {
  list-style: none;
  margin: 0;
  padding: 16px 0 0;
  position: absolute;
  top: 20px;
  left: -10px;
  clip: rect(0, 9999px, 0, 0);
  background-color: #f4f5f8;
  -webkit-transition: clip 0.5s;
  transition: clip 0.5s;
}

.navigation__drop-down-link {
  padding: 0 10px;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #566886;
  font: 500 14px/30px 'Muller',sans-serif;
  height: 30px;
}

.navigation__drop-down-link:hover {
  background-color: #e3e8ee;
}

.navigation__link {
  margin-right: 60px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #566886;
  text-decoration: none;
}

.search-form {
  width: 260px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search-form__btn {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.search-form__btn_reset {
  visibility: hidden;
  opacity: 0;
}

.search-form__btn.show {
  visibility: visible;
  opacity: 1;
}

.search-form__btn-svg-path {
  fill: #ccc;
}

.search-form__input {
  font: 500 14px/20px 'Muller',sans-serif;
  color: #272f40;
  border: none;
  outline: none;
  margin: 0 9px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search-form__input::-webkit-input-placeholder {
  font-family: 'Muller',sans-serif;
  color: #a1b0c1;
}

.search-form__input:-moz-placeholder {
  font-family: 'Muller',sans-serif;
  color: #a1b0c1;
}

.search-form__input::-moz-placeholder {
  font-family: 'Muller',sans-serif;
  color: #a1b0c1;
}

.search-form__input:-ms-input-placeholder {
  font-family: 'Muller',sans-serif;
  color: #a1b0c1;
}

.section-main-slider {
  background-color: #fff;
}

.main-slider {
  position: relative;
}

.main-slider__slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-slider__slide {
  width: 100vw;
  height: 37.9vw;
  position: relative;
}

.main-slider__slide .container {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-slider__bg-img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-slider__title {
  font-size: 54px;
  line-height: 56px;
  font-weight: 800;
  color: #fff;
  margin: 0 0 12px;
}

.main-slider__subtitle {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 23px;
}

.main-slider__link {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #262b30;
  text-decoration: none;
  padding: 21px 40px;
  background-color: #ffc80a;
  border-radius: 10px;
}

.main-slider__controls {
  width: 1170px;
  height: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main-slider__arrow {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-slider__arrow::after {
  content: '';
  position: absolute;
  top: 18px;
  width: 11px;
  height: 11px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  border-right: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-slider__arrow_left {
  left: 15px;
}

.main-slider__arrow_left::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 21px;
}

.main-slider__arrow_right {
  right: 15px;
}

.main-slider__arrow_right::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 21px;
}

.main-slider__arrow:hover {
  background-color: #262b30;
}

.main-slider__arrow:hover::after {
  border-color: #ffc80a;
}

.section-doors {
  background-color: #f4f5f8;
}

.section-doors .container {
  padding: 50px 15px 90px;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cards .cards__item:nth-last-of-type(-n+3) {
  margin: 0;
}

.cards__item {
  width: 555px;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  margin-bottom: 30px;
}

.cards__item_alt {
  width: 360px;
}

.cards__link {
  text-decoration: none;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cards__image {
  height: 220px;
  max-width: 100%;
}

.cards__text-wrapper {
  height: 50px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cards__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #566886;
  margin: 0;
}

.cards__count {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #566886;
}

.section-floor {
  background-color: #fff;
}

.section-floor .container {
  padding: 50px 15px 90px;
}

.section-information {
  position: relative;
  background-color: #f4f5f8;
}

.section-information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.side-slider {
  position: relative;
  left: 0;
  top: 0;
}

.side-slider__slides {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 555px;
}

.side-slider__image {
  width: 100%;
  height: 890px;
}

.side-slider__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 20px;
  right: 20px;
  width: 140px;
  height: 55px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.side-slider__controls::after {
  content: '';
  position: absolute;
  left: 69px;
  top: 10px;
  width: 2px;
  height: 35px;
  background-color: #e3e8ee;
}

.side-slider__controls.left-side {
  left: 20px;
}

.side-slider__arrow {
  position: relative;
  width: 69px;
  height: 55px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.side-slider__arrow::after {
  content: '';
  position: absolute;
  top: 20px;
  width: 10px;
  height: 10px;
  border: 2px solid #a1b0c1;
  border-top: none;
  border-right: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side-slider__arrow_left::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 30px;
}

.side-slider__arrow_right::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 30px;
}

.side-slider__arrow:hover::after {
  border-color: #262b30;
}

.section-wrapper {
  padding: 45px 0 45px;
  width: 555px;
}

.scroll-wrapper {
  max-height: 800px;
  padding: 0 10px 0 0;
}

.scroll-wrapper > :last-child {
  margin-bottom: 0;
}

.section-special-offers {
  position: relative;
  background-color: #fff;
}

.section-special-offers .container {
  padding: 50px 15px 90px;
}

.section-special-offers::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #e3e8ee;
}

.special-offers {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.special-offers .special-offers__item:nth-last-of-type(n+5) {
  margin-bottom: 28px;
}

.special-offers__item {
  position: relative;
  width: 264px;
  height: 460px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  font-size: 0;
}

.special-offers__item.in-basket .special-offers__hidden-svg-wrapper {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.special-offers__link {
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.special-offers__link:hover {
  background-color: #f4f5f8;
}

.special-offers__image {
  width: 100%;
  height: 350px;
}

.special-offers__text-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 15px 20px;
}

.special-offers__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #566886;
  margin: 0 0 12px;
}

.special-offers__last-price {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #a1b0c1;
  text-decoration: line-through;
  margin: 0 0 2px;
}

.special-offers__price {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #262b30;
  margin: 0;
}

.special-offers__in-basket-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.special-offers__in-basket-btn:hover {
  background-color: #f4f5f8;
}

.special-offers__svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.special-offers__svg-path {
  fill: #a1b0c1;
}

.special-offers__hidden-svg-wrapper {
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffc80a;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.special-offers__hidden-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.special-offers__hidden-svg-path {
  fill: #262b30;
}

.section-articles {
  background-color: #fff;
}

.section-articles .container {
  padding: 50px 15px 90px;
}

.articles {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.articles .articles__item:nth-last-of-type(n+5) {
  margin-bottom: 28px;
}

.articles__item {
  width: 264px;
  height: 264px;
  -webkit-box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  border-radius: 10px;
  overflow: hidden;
}

.articles__image {
  width: 100%;
  height: 165px;
}

.articles__text-wrapper {
  padding: 15px 20px;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.articles__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #566886;
  margin: 0;
}

.articles__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.articles__post-date {
  font-size: 12px;
  line-height: 14px;
  color: #c9d5de;
}

.articles__read-more-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #a1b0c1;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.articles__read-more-btn:hover {
  color: #566886;
}

.section-advantages {
  background-color: #fff;
}

.section-advantages .container {
  padding: 70px 15px;
}

.advantages {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages::before {
  content: '';
  width: 100vw;
  height: 2px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 113px;
  background-color: #e3e8ee;
}

.advantages__item {
  padding: 25px 20px;
  position: relative;
  width: 204px;
  height: 227px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  box-shadow: 0px 0px 60px rgba(39, 47, 64, 0.07);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.advantages__item:hover {
  background-color: #262b30;
  color: #fff;
}

.advantages__item:hover .advantages__title, .advantages__item:hover .advantages__information {
  color: #fff;
}

.advantages__item:hover .advantages__svg-path {
  fill: #ffc80a;
}

.advantages__svg {
  margin: 5px 0 23px;
}

.advantages__svg-path {
  fill: #a1b0c1;
}

.advantages__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #262b30;
  margin: 0 0 4px;
}

.advantages__information {
  font-size: 14px;
  line-height: 22px;
  color: #566886;
  margin: 0;
}

.footer {
  background-color: #262b30;
}

.footer .container {
  padding: 70px 15px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-logo-svg-wrapper {
  background-color: #ffc80a;
  width: 135px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo-svg-path {
  fill: #262b30;
}

.footer-logo-text-part {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.footer-navigation {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-navigation__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-navigation__column-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px;
}

.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation__list .footer-navigation__list-item:last-of-type {
  margin: 0;
}

.footer-navigation__list-item {
  margin: 0 0 15px;
}

.footer-navigation__list-link {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #a1b0c1;
  text-decoration: none;
}

.footer-navigation__list-link::after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #a1b0c1;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-navigation__list-link:hover::after {
  width: 100%;
}

.footer-navigation__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px;
  text-decoration: none;
}

.footer-navigation__link::after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-navigation__link:hover::after {
  width: 100%;
}

.footer-contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
}

.footer-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25px;
  margin-bottom: 7px;
}

.footer-contacts__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.footer-contacts__svg {
  margin-right: 10px;
}

.footer-contacts__svg-path {
  fill: #ffc80a;
}

.footer-contacts__text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #a1b0c1;
}

.footer-contacts__contrast {
  color: #fff;
  font-size: 18px;
}
