@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
    src: url('../fonts/Fontfabric-MullerBold.eot');
    src: url('../fonts/Fontfabric-MullerBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fontfabric-MullerBold.woff2') format('woff2'),
         url('../fonts/Fontfabric-MullerBold.woff') format('woff'),
         url('../fonts/Fontfabric-MullerBold.ttf') format('truetype'),
         url('../fonts/Fontfabric-MullerBold.svg') format('svg');
}
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
    src: url('../fonts/Fontfabric-MullerExtraBold.eot');
    src: url('../fonts/Fontfabric-MullerExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fontfabric-MullerExtraBold.woff2') format('woff2'),
         url('../fonts/Fontfabric-MullerExtraBold.woff') format('woff'),
         url('../fonts/Fontfabric-MullerExtraBold.ttf') format('truetype'),
         url('../fonts/Fontfabric-MullerExtraBold.svg') format('svg');
}
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
    src: url('../fonts/Fontfabric-MullerLight.eot');
    src: url('../fonts/Fontfabric-MullerLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fontfabric-MullerLight.woff2') format('woff2'),
         url('../fonts/Fontfabric-MullerLight.woff') format('woff'),
         url('../fonts/Fontfabric-MullerLight.ttf') format('truetype'),
         url('../fonts/Fontfabric-MullerLight.svg') format('svg');
}
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
    src: url('../fonts/Fontfabric-MullerMedium.eot');
    src: url('../fonts/Fontfabric-MullerMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fontfabric-MullerMedium.woff2') format('woff2'),
         url('../fonts/Fontfabric-MullerMedium.woff') format('woff'),
         url('../fonts/Fontfabric-MullerMedium.ttf') format('truetype'),
         url('../fonts/Fontfabric-MullerMedium.svg') format('svg');
}
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
    src: url('../fonts/Fontfabric-MullerRegular.eot');
    src: url('../fonts/Fontfabric-MullerRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fontfabric-MullerRegular.woff2') format('woff2'),
         url('../fonts/Fontfabric-MullerRegular.woff') format('woff'),
         url('../fonts/Fontfabric-MullerRegular.ttf') format('truetype'),
         url('../fonts/Fontfabric-MullerRegular.svg') format('svg');
}