//______________________________________________________________________________
//
//                                Переменные
//______________________________________________________________________________
$primary-color: #262b30;
$secondary-color: #a1b0c1;
$ternary-color: #566886;
$quantenary-color: #272f40;
$light-color: #fff;
$light-color-2: #f4f5f8;
$light-color-3: #e3e8ee;
$light-color-4: #c9d5de;
$contrast-color: #ffc80a;

$card-shadow: 0px 0px 60px transparentize($quantenary-color,0.93);
//______________________________________________________________________________
//
//                                 Миксины
//______________________________________________________________________________
@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }  
}
//______________________________________________________________________________
//
//                                  Шрифты
//______________________________________________________________________________
@import 'fonts';
//______________________________________________________________________________
//
//                               Спецификация
//______________________________________________________________________________
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Muller',sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.section-title {
	font-size: 36px;
	line-height: 38px;
	font-weight: 700;
	color: $primary-color;
	margin: 0 0 45px;
}
.title-contrast {
	color: $contrast-color;
}
.section-alt-title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	color: $primary-color;
	margin: 0 0 30px;
}
.section-alt-subtitle {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	color: $primary-color;
	margin: 0 0 5px;
}
.section-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: $ternary-color;
	margin: 0 0 20px;
}
.section-btns {
	text-align: center;
}
.section-btn {
	display: inline-block;
	border: 2px solid $light-color-3;
	border-radius: 10px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: $quantenary-color;
	text-decoration: none;
	padding: 17px 38px;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;
	&:hover {
		background-color: $quantenary-color;
		color: $light-color;
		border-color: transparent;
		transition: background-color 0.2s, color 0.2s, border-color 0s;
	}
}
//______________________________________________________________________________
//
//                                 Header
//______________________________________________________________________________
.main-header {
	background-color: $primary-color;
	height: 90px;
	display: flex;
	align-items: center;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo-wrapper {
	font-size: 0;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 270px;
}
.vertical-line {
	display: block;
	width: 2px;
	height: 50px;
	background-color: transparentize($secondary-color, 0.85);
}
.logo-svg-path {
	fill: $contrast-color;
}
.logo-text-part {
	display: block;
	font-size: 13px; 
	line-height: 15px;
	color: $secondary-color;
}
.header-contacts {
	height: 32px;
	display: flex;
}
.phone, .email {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-size: 0;
	text-decoration: none;
}
.phone-svg, .email-svg {
	position: absolute;
	left: 0;
}
.phone-svg-path, .email-svg-path {
	fill: $contrast-color;
}
.phone-text-part, .email-text-part {
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	color: $secondary-color;
}
.phone-part {
	color: $light-color;
	font-size: 18px;
}
.email {
	margin-left: 25px;
}
.header-btns {
	display: flex;
	.header-btn:nth-of-type(n+2) {
		margin-left: 20px;
	}
} 
.header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
	background: none; 
	border: 2px solid transparentize($secondary-color, 0.85);
	border-radius: 10px;
	height: 50px;
	padding: 0 30px;
	font: 500 14px/16px 'Muller',sans-serif;
	color: $light-color;
	transition: background-color 0.2s;
	&__svg {
		margin-right: 10px;
	}
	&__svg-path {
		fill: $contrast-color;
	}
	&:hover {
		background-color: $contrast-color;
		border-color: transparent;
		color: $primary-color;
		.header-btn__svg-path {
			fill: $primary-color;
		}
	}
}
.basket {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	&__svg {
		transform: translate(-13px,0);
	}
	&__svg-path {
		fill: $light-color;
	}
	&::after {
		content: attr(data-count);
		position: absolute;
		right: 0;
		font: 700 14px/16px 'Muller',sans-serif;
		color: $primary-color;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;
		background-color: $contrast-color;
		border-radius: 50%;
	}
}
.bottom-header {
	background-color: $light-color-2;
	height: 55px;
	display: flex;
	align-items: center;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.navigation {
	font-size: 0;
	&__drop-down {
		margin-right: 60px;
		display: inline-block;
		position: relative;
		z-index: 5;
	}
	&__drop-down-btn {
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		background: none;
		padding: 0 20px 0 0;
		font: 500 16px/18px 'Muller',sans-serif;
		color: $ternary-color;
		&::after {
			content: '';
			position: absolute;
			right: 2px;
			top: 3px;
			width: 7px;
			height: 7px;
			border: 1px solid $ternary-color;
			border-top: none;
			border-right: none;
			transform: rotate(-45deg);
			transition: 0.2s;
		}
		&.opened {
			&::after {
				transform: rotate(45deg) rotateX(180deg) translate(3px, -3px);
			}
		}
	}
	&__drop-down-list {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		clip: rect(0, 9999px, 0, 0);
		transition: clip 0.5s;
	}
	&__drop-down-list-item {

	}
	&__drop-down-link {
		font-size: 14px;
		text-decoration: none;
	}
	&__link {
		margin-right: 60px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		color: $ternary-color;
		text-decoration: none;
	}
}
.search-form {
	width: 260px;
	height: 35px;
	background-color: $light-color;
	border-radius: 5px;
	padding: 7px;
	display: flex;
	justify-content: space-between;
	&__btn {
		width: 20px;
		height: 20px;
		display: block;
		cursor: pointer;
		border: none;
		outline: none;
		background: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity 0.2s;
		&_reset {
			visibility:hidden;
			opacity: 0;
		}
		&.show {
			visibility:visible;
			opacity: 1;
		}
	}
	&__btn-svg-path {
		fill: #ccc;
	}
	&__input {
		font: 500 14px/20px 'Muller',sans-serif;
		color: $quantenary-color;
		border: none;
		outline: none;
		margin: 0 9px;
		flex-grow: 1;
		@include placeholder {
			font-family: 'Muller',sans-serif;
			color: $secondary-color;
		}
	}
}
//______________________________________________________________________________
//
//                           Section Main Slider
//______________________________________________________________________________
.section-main-slider {
	background-color: $light-color;
}
.main-slider {
	position: relative;
	&__slides {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__slide {
		width: 100vw;
		height: 37.9vw;
		position: relative;
		.container {
			position: relative;
			z-index: 1;
			height: 100%;
			padding: 0 115px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}
	&__bg-img {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&__title {
		font-size: 54px;
		line-height: 56px;
		font-weight: 800;
		color: $light-color;
		margin: 0 0 12px;
	}
	&__subtitle {
		font-size: 24px;
		line-height: 26px;
		font-weight: 300;
		color: $light-color;
		margin: 0 0 23px;
	}
	&__link {
		display: inline-block;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		color: $primary-color;
		text-decoration: none;
		padding: 21px 40px;
		background-color: $contrast-color;
		border-radius: 10px;
	}
	&__controls {
		width: 1170px;
		height: 0;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&__arrow {
		padding: 0;
		border: none;
		outline: none;
		cursor: pointer;
		position: absolute;
		top: -25px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: transparentize($light-color,0.9);
		transition: 0.2s;
		&::after {
			content: '';
			position: absolute;
			top: 18px;
			width: 11px;
			height: 11px;
			border: 2px solid transparentize($light-color,0.6);
			border-top: none;
			border-right: none;
			transition: 0.2s;
		}
		&_left {
			left: 15px;
			&::after {
				transform: rotate(45deg);
				left: 21px;
			}
		}
		&_right {
			right: 15px;
			&::after {
				transform: rotate(-135deg);
				right: 21px;
			}
		}
		&:hover {
			background-color: $primary-color;
			&::after {
				border-color: $contrast-color;
			}
		}
	}
}
//______________________________________________________________________________
//
//                               Section Doors
//______________________________________________________________________________
.section-doors {
	background-color: $light-color-2;
	.container {
		padding: 50px 15px 90px;
	}
}
.cards {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.cards__item:nth-last-of-type(-n+3) {
		margin: 0;
	}
	&__item {
		width: 555px;
		height: 270px;
		overflow: hidden;
		border-radius: 10px;
		background-color: $light-color;
		box-shadow: $card-shadow;
		margin-bottom: 30px;
		&_alt {
			width: 360px;
		}
	}
	&__link {
		text-decoration: none;
		font-size: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__image {
		height: 220px;
		max-width: 100%;
	}
	&__text-wrapper {
		height: 50px;
		width: 100%;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		color: $ternary-color;
		margin: 0;
	}
	&__count {
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		color: $ternary-color;
	}
}
//______________________________________________________________________________
//
//                               Section Floor
//______________________________________________________________________________
.section-floor {
	background-color: $light-color;
	.container {
		padding: 50px 15px 90px;
	}
}
//______________________________________________________________________________
//
//                            Section Information
//______________________________________________________________________________
.section-information {
	position: relative;
	background-color: $light-color-2;
	.container {
		display: flex;
		justify-content: space-between;
	}
}
.side-slider {
	position: relative;
	left: 0;
	top: 0;
	&__slides {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		width: 555px;
	}
	&__image {
		width: 100%;
		height: 890px;
	}
	&__controls {
		position: absolute;
		display: flex;
		justify-content: space-between;
		bottom: 20px;
		right: 20px;
		width: 140px;
		height: 55px;
		background-color: $light-color;
		border-radius: 10px;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			left: 69px;
			top: 10px;
			width: 2px;
			height: 35px;
			background-color: $light-color-3;
		}
		&.left-side {
			left: 20px;
		}
	}
	&__arrow {
		position: relative;
		width: 69px;
		height: 55px;
		border: none;
		outline: none;
		background: none;
		cursor: pointer;
		padding: 0;
		&::after {
			content: '';
			position: absolute;
			top: 20px;
			width: 10px;
			height: 10px;
			border: 2px solid $secondary-color;
			border-top: none;
			border-right: none;
			transition: 0.2s;
		}
		&_left {
			&::after {
				transform: rotate(45deg);
				left: 30px;
			}
		}
		&_right {
			&::after {
				transform: rotate(-135deg);
				right: 30px;
			}
		}
		&:hover {
			&::after {
				border-color: $primary-color;
			}
		}
	}
}
.section-wrapper {
	padding: 80px 0 60px;
	width: 555px;
}
.scroll-wrapper {
	overflow-y: scroll;
	max-height: 750px;
}
//______________________________________________________________________________
//
//                         Section Special Offers
//______________________________________________________________________________
.section-special-offers {
	position: relative;
	background-color: $light-color;
	.container {
		padding: 50px 15px 90px;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: $light-color-3;
	}
}
.special-offers {
	list-style: none;
	margin: 0 0 50px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.special-offers__item:nth-last-of-type(n+5) {
		margin-bottom: 28px;
	}
	&__item {
		position: relative;
		width: 264px;
		height: 460px;
		border-radius: 10px; overflow: hidden;
		box-shadow: $card-shadow;
		font-size: 0;
		&.in-basket {
			.special-offers__hidden-svg-wrapper {
				transform: scale(1);
			}
		}
	}
	&__link {
		display: block;
		height: 100%;
		position: relative;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: $light-color;
		transition: 0.2s;
		&:hover {
			background-color: $light-color-2;
		}
	}
	&__image {
		width: 100%;
		height: 350px;
	}
	&__text-wrapper {
		flex-grow: 1;
		padding: 15px 20px;
	}
	&__title {
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		color: $ternary-color;
		margin: 0 0 12px;
	}
	&__last-price {
		display: block;
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		color: $secondary-color;
		text-decoration: line-through;
		margin: 0 0 2px;
	}
	&__price {
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		color: $primary-color;
		margin: 0;
	}
	&__in-basket-btn {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 1;
		border: none;
		outline: none;
		background: none;
		cursor: pointer;
		transition: 0.2s;
		&:hover {
			background-color: $light-color-2;
		}
	}
	&__svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	&__svg-path {
		fill: $secondary-color;
	}
	&__hidden-svg-wrapper {
		transform: scale(0);
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $contrast-color;
		transition: 0.15s;
	}
	&__hidden-svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	&__hidden-svg-path {
		fill: $primary-color;
	}
}
//______________________________________________________________________________
//
//                             Section Articles
//______________________________________________________________________________
.section-articles {
	background-color: $light-color;
	.container {
		padding: 50px 15px 90px;
	}
}
.articles {
	list-style: none;
	margin: 0 0 50px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.articles__item:nth-last-of-type(n+5) {
		margin-bottom: 28px;
	}
	&__item {
		width: 264px;
		height: 264px;
		box-shadow: $card-shadow;
		border-radius: 10px;
		overflow: hidden;
	}
	&__image {
		width: 100%;
		height: 165px;
	}
	&__text-wrapper {
		padding: 15px 20px;
		height: 99px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		color: $ternary-color;
		margin: 0;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__post-date {
		font-size: 12px;
		line-height: 14px;
		color: $light-color-4;
	}
	&__read-more-btn {
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		color: $secondary-color;
		text-decoration: none;
		transition: 0.2s;
		&:hover {
			color: $ternary-color;
		}
	}
}
//______________________________________________________________________________
//
//                              Section Advantages
//______________________________________________________________________________
.section-advantages {
	background-color: $light-color;
	.container {
		padding: 70px 15px;
	}
}
.advantages {
	position: relative;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&::before {
		content: '';
		width: 100vw;
		height: 2px;
		position: absolute;
		z-index: -1;
		right: 0;
		top: 113px;
		background-color: $light-color-3;
	}
	&__item {
		padding: 25px 20px;
		position: relative;
		width: 204px;
		height: 227px;
		border-radius: 10px;
		overflow: hidden;
		background-color: $light-color;
		box-shadow: $card-shadow;
		transition: background-color 0.2s;
		&:hover {
			background-color: $primary-color;
			.advantages__title,.advantages__information {
				color: $light-color;
			}
			color: $light-color;
			.advantages__svg-path {
				fill: $contrast-color;
			}
		}
	}
	&__svg {
		margin: 5px 0 23px;
	}
	&__svg-path {
		fill: $secondary-color;
	}
	&__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: $primary-color;
		margin: 0 0 4px;
	}
	&__information {
		font-size: 14px;
		line-height: 22px;
		color: $ternary-color;
		margin: 0;
	}
}
//______________________________________________________________________________
//
//                                 Footer
//______________________________________________________________________________
.footer {
	background-color: $primary-color;
	.container {
		padding: 70px 15px 80px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
.footer-logo-svg-wrapper {
	background-color: $contrast-color;
	width: 135px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-logo-svg-path {
	fill: $primary-color;
}
.footer-logo-text-part {
	display: block;
	font-size: 13px; 
	line-height: 15px;
	color: $light-color;
}
.footer-navigation {
	width: 440px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__column-title {
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		color: $light-color;
		margin: 0 0 15px;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		.footer-navigation__list-item:last-of-type {
			margin: 0;
		}
	}
	&__list-item {
		margin: 0 0 15px;
	}
	&__list-link {
		position: relative;
		font-size: 14px;
		line-height: 18px;
		color: $secondary-color;
		text-decoration: none;
		&::after {
			content: '';
			width: 0%;
			height: 1px;
			background-color: $secondary-color;
			position: absolute;
			top: 100%;
			left: 0;
			transition: 0.3s;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
	&__link {
		position: relative;
		display: inline-block;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		color: $light-color;
		margin: 0 0 15px;
		text-decoration: none;
		&::after {
			content: '';
			width: 0%;
			height: 1px;
			background-color: $light-color;
			position: absolute;
			top: 100%;
			left: 0;
			transition: 0.3s;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}
.footer-contacts {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 260px;
	&__item {
		display: flex;
		align-items: center;
		height: 25px;
		margin-bottom: 7px;
	}
	&__link {
		text-decoration: none;
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__svg {
		margin-right: 10px;
	}
	&__svg-path {
		fill: $contrast-color;
	}
	&__text {
		font-size: 12px;
		line-height: 20px;
		font-weight: 500;
		color: $secondary-color;
	}
	&__contrast {
		color: $light-color;
		font-size: 18px;
	}
}